/* GLOBAL */

:root {
  /* color variables */
  --bg-body: hsl(0, 0%, 8%);
  --bg-contact: hsl(0, 0%, 14%);
  --accent: hsl(153, 71%, 59%);
  --text-1: hsl(0, 0%, 100%);
  --text-2: hsl(0, 0%, 85%);
  --invalid: hsl(7, 100%, 68%);
  /* font-size variables x/16 = y rem */
  --fs-18: 1.125rem;
  --fs-88: 5.5rem;
  --fs-72: 4.5rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-36: 2.25rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --container: 69.375rem; /* 1110px / 16px */
  --transition: 250ms ease-in-out;
}

/* preventing elements sticking out the viewport */
html,
body {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--bg-body);
  color: var(--text-1);
  font-size: var(--fs-18);
  /* 28/18=1.56 */
  line-height: 1.56;
  /* overflow: hidden */
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  /* Using online fluid typography calculator https://royalfig.github.io/fluid-typography-calculator/ to set up clamp function 
  min font size - 16px, max font size - 18px, min viewport - 375px, max viewport - 600px, viewport range is when the font-size change
  clamp function is handy not to write media queries just for fonts */
  font-size: 1rem;
  font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
  color: var(--text-2);
}

/* color transition to a link */
a {
  transition: color var(--transition);
}

a.underline {
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0.143em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-1);
  text-decoration: none;
  /* underline */
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 2.1em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
  /* adjusting line under 'CONTACT ME' */
  /* in order the line to show up so low, we need to display: inline-block; to make padding padding work */
  display: inline-block;
  padding-bottom: 10px;
}

a:hover {
  color: var(--accent);
}

.wrapper {
  /* calc(100% - 2rem) is the width of this wrapper for mobile view as 1 rem (16px) is the space between wrapper and viewport edge on each side */
  width: calc(100% - 2rem);
  /* we use 'rem' instead of pixels because it's more accessible when user change the browser's base font size (16px) */
  max-width: var(--container); /* 1110px */
  /* centering on larger viewport widths */
  margin: 0 auto;
}

/* TABLET view - 600px */
@media screen and (min-width: 37.5em) {
  .wrapper {
    /* calc(100% - 3.75rem) is the width of this wrapper for tablet view as 1,875 rem (30/16) is the space between wrapper and viewport edge on each side */
    width: calc(100% - 3.75rem);
  }
}

img,
svg {
  display: block;
}

/* HEADER */

/* MOBILE view */
.header {
  margin-top: 20px;
}

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.header__home {
  /* Using online fluid typography calculator https://royalfig.github.io/fluid-typography-calculator/ to set up clamp function 
  min font size - 24px, max font size - 32px, min viewport - 375px, max viewport - 768px 
  clam function is handy not to write media queries just for fonts */
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  color: var(--text-1);
  text-decoration: none;
  line-height: 1;
}

.header__social_wrapper {
  display: flex;
  gap: 25px;
  align-items: center;
  /* getting rid of descenders (that gives an extra space underneath a tags) by font-size: 0 */
  font-size: 0;
}

.header__social {
  display: inline-block;
}

/* color transition to SVG */
.header__social > svg > path {
  transition: fill var(--transition);
}

/* hover effect on SVG using path attribute */
.header__social:hover > svg > path {
  fill: var(--accent);
}

/* making Accessibility span invisible but accessible for screen readers */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* TABLET view - 600px */
@media screen and (min-width: 37.5em) {
  .header__nav {
    width: calc(100% - 3.75rem);
    flex-direction: row;
    justify-content: space-between;
  }

  .header__social_wrapper {
    gap: 32px;
  }
}

/* HERO */

.hero {
  position: relative;
}

.hero__wrapper {
  padding-bottom: 80px;
  border-bottom: 1px solid var(--text-2);
}

.hero__img {
  width: 174px;
  margin: 0 auto;
  padding-top: 100px;
  background: rgb(20, 20, 20);
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 1) 18%,
    rgba(116, 116, 116, 1) 100%
  );
}

.hero__img img {
  width: 100%;
  font-size: 0;
  position: relative;
  z-index: 2;
}

.hero__text {
  text-align: center;
}

.hero__headline {
  margin: 24px 0;
  /* Using online fluid typography calculator https://royalfig.github.io/fluid-typography-calculator/ to set up clamp function 
  min font size - 40px, max font size - 88px, min viewport - 375px, max viewport - 1000px 
  clam function is handy not to write media queries just for fonts */
  font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
  line-height: 1.15;
}

/* TABLET view - 600px */
@media screen and (min-width: 600px) {
  .hero__headline {
    margin-bottom: 60px;
  }
}

/* DESKTOP view - 768px */
@media screen and (min-width: 768px) {
  .hero__headline {
    margin-bottom: 43px;
  }
}

.br-visible {
  display: none;
}

/* green underline under Janis Karasa */
.hero__text > h1 > span {
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 1.1em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}

.hero__description {
  margin-bottom: 24px;
}

/* TABLET view - 600px */
@media screen and (min-width: 37.5em) {
  .hero__img {
    width: 196px;
  }
}

/* HERO RINGS and CIRCLE */
.hero__rings {
  position: absolute;
  top: 90px;
  right: 50%;
  z-index: 1;
}

.hero__circle {
  position: absolute;
  top: 204px;
  right: 0;
  translate: 50%;
}

/* TABLET view - 600px */
@media screen and (min-width: 37.5em) {
  .hero__wrapper {
    padding-bottom: 40px;
  }
  .hero__img {
    z-index: -1;
    width: 322px;
    height: auto;
    margin: 0 -2rem 0 auto;
    position: relative;
  }
  .hero__text {
    top: 0;
    text-align: left;
    position: absolute;
  }
  .hero__headline {
    margin-top: 90px;
  }
  .br-visible {
    display: initial;
  }
  .hero__description {
    width: 450px;
  }
  .hero__circle {
    top: 400px;
  }
}
